extends assets/jade/layouts/global/index

block content
	.content-section
		.content-section__inner
			.section-title
				| Подключить личный кабинет

			.section-subtitle
				| Укажите свои данные

			form(method='' action='').form-cabinet-connection-data.js-form-validate
				.form-row
					label(for='cabinet-connection-data-last-name').form-row__title
						| Фамилия:

					input(type='text'
								placeholder='Введите фамилию'
								required,
								id='cabinet-connection-data-last-name').form-control

				.form-row
					label(for='cabinet-connection-data-first-name').form-row__title
						| Имя:

					input(type='text'
								placeholder='Введите имя'
								required,
								id='cabinet-connection-data-first-name').form-control

				.form-row
					label(for='cabinet-connection-data-second-name').form-row__title
						| Отчество:

					input(type='text'
								placeholder='Введите отчество'
								required,
								id='cabinet-connection-data-second-name').form-control

				.form-row
						label.form-item__title
							| Номер мобильного телефона:

						input(type='text' required placeholder='+7 (937) 524-54-19').form-control

						p В формате&nbsp;
							span.form-item__note
								| +Х ХХХ ХХХХ-ХХХ-ХХ

				.form-row
					input(type='submit' value='Отправить').form-submit

				.form-row.form-row--outcoming-link
					a(href='#') Перейтив в полную версию кабинета

		include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})