extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header
block content
	.content-section.content-section-padding
		.content-section__inner
			.section-title
				| Подключить личный кабинет

			.section-subtitle
				| Введите email и придумайте пароль

			form(method='' action='').form-cabinet-connection-password.js-form-validate
				.form-row
					label(for='ccd-email').form-row__title
						| Логин (ваш email):

					.form-item
						input(type='text'
									required,
									placeholder='Введите ваш email'
									id='ccd-email').form-control

				.form-row
					label(for='ccd-password').form-row__title
						| Пароль:

					input(type='password'
								required,
								placeholder='•••••'
								data-parsley-required-message='Введите пароль'
								name='ccd-password'
								id='ccd-password').form-control

				.form-row
					label(for='ccd-password').form-row__title
						| Введите пароль еще раз:

					input(type='password'
								required,
								data-parsley-equalto='#ccd-password'
								data-parsley-required-message='Подтвердите пароль'
								placeholder='Повторите пароль'
								name='ccd-password-check'
								id='ccd-password-check').form-control

				.form-row
					.form-grid
						.cell.style-nowrap
							p Сложность пароля:
						.cell.style-full
							div#password-strength-scale.password-strength-scale.is80
								.password-strength-scale__degree
								.password-strength-scale__degree
								.password-strength-scale__degree
								.password-strength-scale__degree
								.password-strength-scale__degree



				.form-row.form-row--password-note
					.form-note
						| Пароль должен содержать не менее 8 символов.
						span.line-break
							| Используйте хотя бы одну цифру и прописную букву.

				.form-row
					input(type='submit' value='Войти').form-submit

				include assets/jade/partials/outgoing-link

	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})